body {
    padding-top: 50px;
    padding-bottom: 50px;
    

}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-top:100px;
    
    
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
/.dl-horizontal dt {
    white-space: normal;
}
    

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.navbar-inverse {
    background-color: #9E1B32 !important;
    border-color: white !important;
    
    
 
}
.navbar-inverse .navbar-nav > li > a {
    color: #FFFFFF !important;

}

.navbar-inverse .navbar-nav > li > a:hover {
        background-color: #808080 !important;


    }

.navbar-inverse .navbar-brand {
    color: #FFFFFF !important;
    
  
}

.btn-primary {
    background-color: #9E1B32 !important;
   
   
}

